*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    background-color: aqua;
    height: 40px;
}
img{
    border-radius: 50%;
}
main{
    margin-top: 10px;
    border: solid blue;
    background-color: turquoise;
}

footer{
    text-align: center;
    background-color: aqua;
    height: 40px;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 120px;
    font-weight: bold;
}
img{
    padding: 5px;
    width: 100px;
    height: 100px;
    margin-left: 100px;
}
